teams/code-for-cofee-team/node-red/bringingcoffee.json
[{"id":"b1294887.23de48","type":"twitter in","z":"30ad26c3.2a8a8a","twitter":"","tags":"#bringingcoffee","user":"false","name":"","topic":"tweets","inputs":0,"x":151.2142791748047,"y":156.71429443359375,"wires":[["f6634530.47d768"]]},{"id":"f6634530.47d768","type":"function","z":"30ad26c3.2a8a8a","name":"","func":"msg.payload = '\"new coffee is coming\"';\nreturn msg;","outputs":1,"noerr":0,"x":333.2142791748047,"y":165.1428680419922,"wires":[["9c9c8c08.aee5d"]]},{"id":"9c9c8c08.aee5d","type":"mqtt out","z":"30ad26c3.2a8a8a","name":"","topic":"/iot/speak","qos":"","retain":"","broker":"c0c57864.b2d888","x":539.2142791748047,"y":180.1428680419922,"wires":[]},{"id":"bdc1ac12.ae19a","type":"twitter out","z":"30ad26c3.2a8a8a","twitter":"","name":"Tweet","x":455.2142791748047,"y":308.8571472167969,"wires":[]},{"id":"647cd91e.772ef8","type":"inject","z":"30ad26c3.2a8a8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122.21427917480469,"y":327.5714416503906,"wires":[["76b320c9.24b68"]]},{"id":"76b320c9.24b68","type":"function","z":"30ad26c3.2a8a8a","name":"","func":"function formatDate(date) {\n  var hours   = date.getHours(),\n      minutes = date.getMinutes(),\n      seconds = date.getSeconds();\n      \n     minutes = minutes < 10 ? '0' + minutes : minutes;\n      seconds = seconds < 10 ? '0' + seconds : seconds;\n\n return hours + ':' + minutes + ':' + seconds + ' CET';\n}\n\ndate = new Date();\ndate = formatDate(date);\nmsg.payload = \"#bringingcoffee #firstfloor \" + date;\n\nreturn msg;","outputs":1,"noerr":0,"x":288.2142791748047,"y":308.71429443359375,"wires":[["bdc1ac12.ae19a"]]},{"id":"c32c0ebd.aaf8","type":"inject","z":"30ad26c3.2a8a8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.21427917480469,"y":394.5714416503906,"wires":[["4b6d19a9.e0e298"]]},{"id":"4b6d19a9.e0e298","type":"function","z":"30ad26c3.2a8a8a","name":"","func":"function formatDate(date) {\n  var hours   = date.getHours(),\n      minutes = date.getMinutes(),\n      seconds = date.getSeconds();\n      \n     minutes = minutes < 10 ? '0' + minutes : minutes;\n      seconds = seconds < 10 ? '0' + seconds : seconds;\n\n return hours + ':' + minutes + ':' + seconds + ' CET';\n}\n\ndate = new Date();\ndate = formatDate(date);\nmsg.payload = \"#coffeerefilled #firstfloor \" + date;\n\nreturn msg;","outputs":1,"noerr":0,"x":299.00002670288086,"y":383.99999713897705,"wires":[["bdc1ac12.ae19a"]]},{"id":"c0c57864.b2d888","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
