teams/code-for-cofee-team/node-red/ordercoffe.json
[{"id":"a5fda4e3.4acaf8","type":"mqtt in","z":"3bd7fe20.706c22","name":"","topic":"/iot/jotb17/button","qos":"2","broker":"3433e855.03e5e8","x":160.5,"y":354,"wires":[["1b8df93c.37cd07","24b42c91.5c8c24"]]},{"id":"467d0a98.6ead04","type":"twitter out","z":"3bd7fe20.706c22","twitter":"","name":"Tweet","x":626.5,"y":353,"wires":[]},{"id":"1b8df93c.37cd07","type":"function","z":"3bd7fe20.706c22","name":"","func":"function formatDate(date) {\n  var hours   = date.getHours(),\n      minutes = date.getMinutes(),\n      seconds = date.getSeconds();\n      \n      minutes = minutes < 10 ? '0' + minutes : minutes;\n      seconds = seconds < 10 ? '0' + seconds : seconds;\n\n  return hours + ':' + minutes + ':' + seconds + ' CET';\n}\n\ndate = new Date();\ndate = formatDate(date);\nmsg.payload = \"@jotbhelp #morecoffee #firstfloor \" + date;\nreturn msg;","outputs":1,"noerr":0,"x":403.5,"y":353,"wires":[["467d0a98.6ead04"]]},{"id":"1b7ab37a.4bec1d","type":"mqtt out","z":"3bd7fe20.706c22","name":"","topic":"/iot/speak","qos":"","retain":"","broker":"3433e855.03e5e8","x":621.5,"y":471,"wires":[]},{"id":"24b42c91.5c8c24","type":"change","z":"3bd7fe20.706c22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Thank you for notifying us\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":408.5,"y":471,"wires":[["1b7ab37a.4bec1d"]]},{"id":"c3e690fe.d351c","type":"inject","z":"3bd7fe20.706c22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171.5,"y":569,"wires":[["24b42c91.5c8c24"]]},{"id":"3433e855.03e5e8","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
