base/src/node_red/mqtt_surfboard_transport_integration_flow.txt
[{"id":"18c7c9e4.dfa636","type":"ui_gauge","z":"9a11fe0e.e01ce","name":"Alcohol","group":"645b0c0.5ae17f4","order":3,"width":"6","height":"6","gtype":"gage","title":"Alcohol","label":"Alcohol Sensor","format":"{{value;}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"x":728.7575492858887,"y":132.90915489196777,"wires":[]},{"id":"570ddea9.fa535","type":"mqtt in","z":"9a11fe0e.e01ce","name":"Surfboard205 @ Globalcode","topic":"/iot-surfboard/sensors/surfboard199","qos":"2","broker":"a03bafed.bb869","x":149,"y":210.6667022705078,"wires":[["a935d7b5.dbe0c8","dc29f485.9d2178"]]},{"id":"aa1a0f14.0aa73","type":"function","z":"9a11fe0e.e01ce","name":"gas","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[0].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":479.7878608703613,"y":171.6667242050171,"wires":[["18c7c9e4.dfa636","f52a266c.b55f58"]]},{"id":"19749f9a.82e68","type":"function","z":"9a11fe0e.e01ce","name":"Temperature","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[5].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":502.78780364990234,"y":235.66669082641602,"wires":[["f7444849.4e5a58","d344a075.b0e62"]]},{"id":"6a3cb3f1.e1408c","type":"function","z":"9a11fe0e.e01ce","name":"Humidity","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[6].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":486.4544906616211,"y":306.6667261123657,"wires":[["660b1de2.d254c4","d6245eae.4d0b4"]]},{"id":"f7444849.4e5a58","type":"ui_gauge","z":"9a11fe0e.e01ce","name":"Temperature","group":"645b0c0.5ae17f4","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":984.7878379821777,"y":134.3333876132965,"wires":[]},{"id":"a935d7b5.dbe0c8","type":"debug","z":"9a11fe0e.e01ce","name":"","active":false,"console":"false","complete":"payload","x":277.1211471557617,"y":110.33341407775879,"wires":[]},{"id":"660b1de2.d254c4","type":"ui_gauge","z":"9a11fe0e.e01ce","name":"Humidity","group":"645b0c0.5ae17f4","order":4,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":666.4544982910156,"y":380.000057220459,"wires":[]},{"id":"4c567525.ec8d7c","type":"ui_gauge","z":"9a11fe0e.e01ce","name":"Distance","group":"645b0c0.5ae17f4","order":4,"width":"6","height":"6","gtype":"gage","title":"Distance","label":"CM","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":702.7878761291504,"y":500.4545888900757,"wires":[]},{"id":"b1732e3d.6e399","type":"function","z":"9a11fe0e.e01ce","name":"Distance","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[3].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":476.78783416748047,"y":396.1212491989136,"wires":[["4c567525.ec8d7c","e601c7b7.798c58"]]},{"id":"791f8ff6.05bfb","type":"function","z":"9a11fe0e.e01ce","name":"Light","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[2].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":461.787841796875,"y":461.1212673187256,"wires":[["dc90b6c.6961748","c31c30df.09439"]]},{"id":"dc90b6c.6961748","type":"ui_gauge","z":"9a11fe0e.e01ce","name":"Light","group":"645b0c0.5ae17f4","order":4,"width":"6","height":"6","gtype":"gage","title":"Light","label":"","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"x":653.7878761291504,"y":684.4546165466309,"wires":[]},{"id":"4bb96289.884c6c","type":"mqtt out","z":"9a11fe0e.e01ce","name":"FW","topic":"/jonthebeach/sensors/temperature","qos":"","retain":"","broker":"a03bafed.bb869","x":1002.0150985717773,"y":208.8485803604126,"wires":[]},{"id":"818b6e88.44ab3","type":"mqtt out","z":"9a11fe0e.e01ce","name":"FW","topic":"/jonthebeach/sensors/alcohol","qos":"","retain":"","broker":"a03bafed.bb869","x":850.1212310791016,"y":74.2424783706665,"wires":[]},{"id":"fd726e70.5a527","type":"mqtt out","z":"9a11fe0e.e01ce","name":"FW","topic":"/jonthebeach/sensors/humidity","qos":"","retain":"","broker":"a03bafed.bb869","x":820.4545745849609,"y":313.1212348937988,"wires":[]},{"id":"1ad35ec7.96d491","type":"mqtt out","z":"9a11fe0e.e01ce","name":"FW","topic":"/jonthebeach/sensors/distance","qos":"","retain":"","broker":"a03bafed.bb869","x":773.4545745849609,"y":437.45458698272705,"wires":[]},{"id":"fb3ca3b8.e4871","type":"mqtt out","z":"9a11fe0e.e01ce","name":"FW","topic":"/jonthebeach/sensors/light","qos":"","retain":"","broker":"a03bafed.bb869","x":831.4546279907227,"y":580.7879209518433,"wires":[]},{"id":"f52a266c.b55f58","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var sensor = msg.payload;\nmsg.payload= \"{ \" +\n//             \"\\\"thing_name\\\": \\\"alcohol_sensor\\\",\" +\n             \"\\\"alcohol\\\": \\\"\" + sensor + \"\\\",\" +\n             \"\\\"units\\\": \\\"raw-analog\\\",\" +\n             \"\\\"timestamp\\\": \\\"\" + msg.time_stamp + \"\\\",\" +\n             \"\\\"position\\\" : {\" +\n             \"\\\"latitude\\\": \\\"\" + msg.latitude + \"\\\",\" +\n             \"\\\"longitude\\\": \\\"\"+ msg.longitude + \"\\\"\" +\n             \"}, \" + \n             \"\\\"contributor\\\": \\\"\"+ msg.contributor + \"\\\"}\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":665.2425155639648,"y":89.42426013946533,"wires":[["818b6e88.44ab3","c1d36d34.1cb3b"]]},{"id":"c1d36d34.1cb3b","type":"debug","z":"9a11fe0e.e01ce","name":"","active":false,"console":"false","complete":"payload","x":869.5000457763672,"y":20,"wires":[]},{"id":"d344a075.b0e62","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var sensor = msg.payload;\nmsg.payload= \"{ \" +\n//             \"\\\"thing_name\\\": \\\"alcohol_sensor\\\",\" +\n             \"\\\"temperature\\\": \\\"\" + sensor + \"\\\",\" +\n             \"\\\"units\\\": \\\"celsius\\\",\" +\n             \"\\\"timestamp\\\": \\\"\" + msg.time_stamp + \"\\\",\" +\n             \"\\\"position\\\" : {\" +\n             \"\\\"latitude\\\": \\\"\" + msg.latitude + \"\\\",\" +\n             \"\\\"longitude\\\": \\\"\"+ msg.longitude + \"\\\"\" +\n             \"}, \" + \n             \"\\\"contributor\\\": \\\"\"+ msg.contributor + \"\\\"}\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":776.2000122070312,"y":222.1999969482422,"wires":[["4bb96289.884c6c"]]},{"id":"d6245eae.4d0b4","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var sensor = msg.payload;\nmsg.payload= \"{ \" +\n//             \"\\\"thing_name\\\": \\\"alcohol_sensor\\\",\" +\n             \"\\\"humidity\\\": \\\"\" + sensor + \"\\\",\" +\n             \"\\\"units\\\": \\\"percentage\\\",\" +\n             \"\\\"timestamp\\\": \\\"\" + msg.time_stamp + \"\\\",\" +\n             \"\\\"position\\\" : {\" +\n             \"\\\"latitude\\\": \\\"\" + msg.latitude + \"\\\",\" +\n             \"\\\"longitude\\\": \\\"\"+ msg.longitude + \"\\\"\" +\n             \"}, \" + \n             \"\\\"contributor\\\": \\\"\"+ msg.contributor + \"\\\"}\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":668.2000122070312,"y":314.1999816894531,"wires":[["fd726e70.5a527"]]},{"id":"e601c7b7.798c58","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var sensor = msg.payload;\nmsg.payload= \"{ \" +\n//             \"\\\"thing_name\\\": \\\"alcohol_sensor\\\",\" +\n             \"\\\"distance\\\": \\\"\" + sensor + \"\\\",\" +\n             \"\\\"units\\\": \\\"centimeters\\\",\" +\n             \"\\\"timestamp\\\": \\\"\" + msg.time_stamp + \"\\\",\" +\n             \"\\\"position\\\" : {\" +\n             \"\\\"latitude\\\": \\\"\" + msg.latitude + \"\\\",\" +\n             \"\\\"longitude\\\": \\\"\"+ msg.longitude + \"\\\"\" +\n             \"}, \" + \n             \"\\\"contributor\\\": \\\"\"+ msg.contributor + \"\\\"}\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":638.2000122070312,"y":426.1999816894531,"wires":[["1ad35ec7.96d491"]]},{"id":"c31c30df.09439","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var sensor = msg.payload;\nmsg.payload= \"{ \" +\n//             \"\\\"thing_name\\\": \\\"alcohol_sensor\\\",\" +\n             \"\\\"light\\\": \\\"\" + sensor + \"\\\",\" +\n             \"\\\"units\\\": \\\"raw-analog\\\",\" +\n             \"\\\"timestamp\\\": \\\"\" + msg.time_stamp + \"\\\",\" +\n             \"\\\"position\\\" : {\" +\n             \"\\\"latitude\\\": \\\"\" + msg.latitude + \"\\\",\" +\n             \"\\\"longitude\\\": \\\"\"+ msg.longitude + \"\\\"\" +\n             \"}, \" + \n             \"\\\"contributor\\\": \\\"\"+ msg.contributor + \"\\\"}\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":665.2000350952148,"y":560.2000284194946,"wires":[["fb3ca3b8.e4871"]]},{"id":"3c452774.16a188","type":"moment","z":"9a11fe0e.e01ce","name":"","topic":"","input":"","inputType":"date","inTz":"UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"time_stamp","outputType":"msg","outTz":"UTC","x":167.1666717529297,"y":331.98751640319824,"wires":[["aa1a0f14.0aa73","19749f9a.82e68","6a3cb3f1.e1408c","b1732e3d.6e399","791f8ff6.05bfb","8ea158ec.eb3128"]]},{"id":"dc29f485.9d2178","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var obj = JSON.parse(msg.payload);\nmsg.contributor = obj.name;\nmsg.latitude=\"-23.5737746\";\nmsg.longitude=\"-46.6443646\";\n\nreturn msg;","outputs":1,"noerr":0,"x":167.49999999999997,"y":267.6666768391927,"wires":[["3c452774.16a188"]]},{"id":"8ea158ec.eb3128","type":"function","z":"9a11fe0e.e01ce","name":"Current","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.components[7].value;\n\nreturn msg;","outputs":1,"noerr":0,"x":424.1999740600586,"y":655.0000162124634,"wires":[["364335da.3589da","1d22ac04.0a5884"]]},{"id":"364335da.3589da","type":"function","z":"9a11fe0e.e01ce","name":"","func":"var sensor = msg.payload;\nmsg.payload= \"{ \" +\n//             \"\\\"thing_name\\\": \\\"alcohol_sensor\\\",\" +\n             \"\\\"current\\\": \\\"\" + sensor + \"\\\",\" +\n             \"\\\"units\\\": \\\"amps\\\",\" +\n             \"\\\"timestamp\\\": \\\"\" + msg.time_stamp + \"\\\",\" +\n             \"\\\"position\\\" : {\" +\n             \"\\\"latitude\\\": \\\"\" + msg.latitude + \"\\\",\" +\n             \"\\\"longitude\\\": \\\"\"+ msg.longitude + \"\\\"\" +\n             \"}, \" + \n             \"\\\"contributor\\\": \\\"\"+ msg.contributor + \"\\\"}\";\n            \nreturn msg;","outputs":1,"noerr":0,"x":534.2000122070312,"y":753,"wires":[["52f0ee31.01875"]]},{"id":"52f0ee31.01875","type":"mqtt out","z":"9a11fe0e.e01ce","name":"FW","topic":"/jonthebeach/sensors/current","qos":"","retain":"","broker":"a03bafed.bb869","x":700.4546051025391,"y":773.5878925323486,"wires":[]},{"id":"1d22ac04.0a5884","type":"ui_gauge","z":"9a11fe0e.e01ce","name":"Current","group":"645b0c0.5ae17f4","order":4,"width":"6","height":"6","gtype":"gage","title":"Current","label":"Amps","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"x":548.2000122070312,"y":826,"wires":[]},{"id":"645b0c0.5ae17f4","type":"ui_group","z":"9a11fe0e.e01ce","name":"IoT Surfboard","tab":"c4a72733.6d5218","disp":true,"width":"18"},{"id":"a03bafed.bb869","type":"mqtt-broker","z":"9a11fe0e.e01ce","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c4a72733.6d5218","type":"ui_tab","z":"9a11fe0e.e01ce","name":"JOnTheBeach","icon":"dashboard","order":6}]