base/src/node_red/valo_flow.json
[{"id":"83c8efee.f15bc","type":"http request","z":"35f6fd3c.0e8eb2","name":"Create Execution Context","method":"POST","ret":"txt","url":"http://localhost:8888/execution/demo/sessions","tls":"","x":203.19998168945312,"y":216.19998168945312,"wires":[["d1d93518.5f9b78","8fe978cc.b05618","6a4a76f5.e75008"]]},{"id":"bdceaaae.cb34f8","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"false","x":655.2000350952148,"y":120.20000839233398,"wires":[]},{"id":"d1d93518.5f9b78","type":"json","z":"35f6fd3c.0e8eb2","name":"","x":257.5,"y":279.80006408691406,"wires":[["871728f1.9520a8"]]},{"id":"871728f1.9520a8","type":"function","z":"35f6fd3c.0e8eb2","name":"grab session","func":"var session =msg.payload.session;\nmsg.url=\"http://localhost:8888\" + session + \"/queries\";\n\nreturn msg;","outputs":1,"noerr":0,"x":346.50000381469727,"y":333.0000162124634,"wires":[["a69d9040.2a8b"]]},{"id":"6a4a76f5.e75008","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"false","x":1065.500072479248,"y":358.0000247955322,"wires":[]},{"id":"9daa6b9c.9b1ab8","type":"http request","z":"35f6fd3c.0e8eb2","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":611.500129699707,"y":433.0000686645508,"wires":[["f935e2e3.9aade","8fe978cc.b05618","6a4a76f5.e75008"]]},{"id":"a69d9040.2a8b","type":"template","z":"35f6fd3c.0e8eb2","name":"query json temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{  \"id\" : \"myQuery1\",  \"body\" : \"from /streams/demo/iot_board/temperature\"}","x":459.50010681152344,"y":385.39999198913574,"wires":[["9daa6b9c.9b1ab8"]]},{"id":"8fe978cc.b05618","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"statusCode","x":1043.1999740600586,"y":400.40003299713135,"wires":[]},{"id":"55e7f8d9.fbb9f8","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"headers","x":1025.1999473571777,"y":475.39999198913574,"wires":[]},{"id":"f935e2e3.9aade","type":"function","z":"35f6fd3c.0e8eb2","name":"","func":"var session =msg.payload.session;\nmsg.url= msg.url + \"/myQuery1/_start\";\n\nreturn msg;","outputs":1,"noerr":0,"x":698.2000465393066,"y":479.1999702453613,"wires":[["f734c11a.3c694"]]},{"id":"f734c11a.3c694","type":"http request","z":"35f6fd3c.0e8eb2","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":810.2001419067383,"y":532.200029373169,"wires":[["8fe978cc.b05618","6a4a76f5.e75008"]]},{"id":"5a3449d8.68abf8","type":"eventsource","z":"35f6fd3c.0e8eb2","name":"","url":"http://localhost:8888/output/demo/20a17b62-b5f4-4a81-b537-b9e8070211de/922961b8-d149-4a9f-92ef-4c2ef687f477","event_name":"message","x":143.20000457763672,"y":83.19999885559082,"wires":[["bdceaaae.cb34f8","b3788172.0e8ef"]]},{"id":"b3788172.0e8ef","type":"function","z":"35f6fd3c.0e8eb2","name":"","func":"var temp = msg.payload.items[0].data.temperature;\nmsg.payload = parseInt(temp);\n\nreturn msg;","outputs":1,"noerr":0,"x":360.49999618530273,"y":49.60000801086426,"wires":[["bdceaaae.cb34f8","8f1c9d5a.265d7","68950997.7d1bd8"]]},{"id":"8f1c9d5a.265d7","type":"ui_gauge","z":"35f6fd3c.0e8eb2","name":"","group":"3e9b1347.0dc6dc","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":586.5000343322754,"y":32.600008964538574,"wires":[]},{"id":"68950997.7d1bd8","type":"ui_chart","z":"35f6fd3c.0e8eb2","name":"","group":"3e9b1347.0dc6dc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"-20","ymax":"70","removeOlder":1,"removeOlderUnit":"3600","x":583.5000343322754,"y":74.20000457763672,"wires":[[],[]]},{"id":"3016da44.6e5116","type":"inject","z":"35f6fd3c.0e8eb2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127.50000762939453,"y":153.4000186920166,"wires":[["83c8efee.f15bc"]]},{"id":"5dece00.736652","type":"http request","z":"35f6fd3c.0e8eb2","name":"","method":"POST","ret":"txt","url":"http://192.168.0.108:8888/streams/demo/iot_board/temperature","tls":"","x":345.5000991821289,"y":608.000036239624,"wires":[["432426eb.3c5408","f538f531.8d3c78","a360946c.c5fa18"]]},{"id":"72d860b9.a0f0a","type":"inject","z":"35f6fd3c.0e8eb2","name":"","topic":"","payload":"{\"contributor\" :\".\", \"position\" :{\"latitude\":\"36.7585406465564\", \"longitude\": \"-4.3971722687\"}, \"timestamp\" :\"2017-05-17T10:02:03.665Z\",\"temperature\" :26.00 , \"units\" :\"celsius\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":174.50005722045898,"y":607.0000405311584,"wires":[["5dece00.736652"]]},{"id":"432426eb.3c5408","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"false","x":712.2000122070312,"y":668.2000122070312,"wires":[]},{"id":"f538f531.8d3c78","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"statusCode","x":689.8999137878418,"y":710.6000204086304,"wires":[]},{"id":"a360946c.c5fa18","type":"debug","z":"35f6fd3c.0e8eb2","name":"","active":true,"console":"false","complete":"headers","x":643.8999366760254,"y":757.6000308990479,"wires":[]},{"id":"3e9b1347.0dc6dc","type":"ui_group","z":"35f6fd3c.0e8eb2","name":"Default","tab":"47e0fee6.51606","disp":true,"width":"6"},{"id":"47e0fee6.51606","type":"ui_tab","z":"","name":"VALO Dashboard","icon":"dashboard","order":1}]